<div class="row">
  <div class="medium-4 columns">

    <br>

    <form (ngSubmit)="addEntry()" #myForm="ngForm">
      <div class="input-group">
        <input id="entryInput"
            class="input-group-field"
            type="text"
            name="entry"
            [(ngModel)]="entry"
            autocomplete="off"
            required />
        <div class="input-group-button">
          <button type="submit"
              class="button success"
              [disabled]="!myForm.form.valid">
            <i class="fi-plus"></i>
          </button>
        </div>
      </div>
    </form>

    <hr>

    <ul>
      <li *ngFor="let entry of blacklist.list">
        {{entry}}
        <span style="margin-left: 15px"
            class="hover-pointer"
            (click)="removeEntry(entry)">
          <i class="fi-x"></i>
        </span>
      </li>
    </ul>

  </div>
</div>