<div>
  <br>
  <div *ngFor="let record of audit.records">
    <span><strong>Time: </strong>{{record.time | date:'medium'}}</span>
    <br>
    <span><strong>User: </strong>{{record.user}}</span>
    <br>
    <span><strong>Channel: </strong>{{record.channel}}</span>
    <br>
    <span><strong>Users Present:</strong></span>
    <ul style="margin-bottom: 0;"><li *ngFor="let member of record.usersPresent">{{member}}</li></ul>
    <span><strong>Message: </strong>{{record.text}}</span>
    <br>
    <div 
      *ngIf="!(record.approved || record.denied)"
      class="button-group">
      
      <button
        class="button success"
        (click)="approve(record)">
        Approve
      </button>

      <button
        class="button alert"
        (click)="deny(record)">
        Deny
      </button>

    </div>
    
    <div
      *ngIf="record.approved"
      class="callout success">
      Approved
    </div>

    <div
      *ngIf="record.denied"
      class="callout alert">
      Denied
    </div>
    <hr>
  </div>
</div>